<!DOCTYPE html>
<html>
  <head>
    <title>FirstRailsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Anything here is applied to ALL pages of app -->
    <div class="nav" style="background: lightgray; padding: 16px">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Learn about us", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
